{% extends "main_page.html" %}
{% block content %}
    <h1> About </h1>
    <p class="about">
        <h3> sSecretss! </h3>
        sSecretss is the Simple Secret Sharing Server (or Service).
        It is shamelessly ripped off of <a href="https://fugacio.us" target="_blank">Fugacio.us</a>, which is 
        awesome and free and open source and you should all go look at it, because sSecretss currently does
        nothing that Fugacio.us doesn't do more elegantly AFAIK.
    </p>
    <p class="about">
        That having been said, Fugacio.us does what it does in Ruby. I can't read Ruby. So I rewrote this in
        Python as a spiritual successor with (I think) more readable source code.  It's built, currently, on 
        Flask and SQLite. More robust options are in the works.
    </p>
    <p class="about">
        There'll be a GitHub link here when I've got the codebase prettied up enough that I can stand others to
        see it. :P
    </p>
{% end block %}

