<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>sSecretss!</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
        {% end block %}
    </head>
    <body>
        <nav class="navbar">
            {% block navblock %}
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/w/">sSecretss!</a>
                    </div>
                </div> <!-- end container -->
            {% end block %}
        </nav>
        {% block flash %}
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
        {% end block %}
        <div class="container" id="content">
            {% block content %}
                <div class="row">
                    Info goes here! Also maybe explaining.
                </div>
            {% end block %}
        </div><!-- /.container -->
        <div class="container" id="footer">
            {% block footer %}
                <h5> sSecretss is the Simple Secret Sharing Server, powered by Python </h5>
                Copyleft &copy; 2018 as soon as I figure out how to do fancy copyleft things.
            {% end block %}
        </div><!-- /.container -->
    </body>
</html>

